@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header style="margin-top:210px; text-align:center">
    <h1 class="text-danger">This page is like Area 51</h1>
    <p class="text-danger">You don't have access here :)</p>
</header>
