@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

@section Styles{
    <link href="~/css/loginStyle.css" rel="stylesheet">
}



<h1>@ViewData["Title"]</h1>
<div class="form-cover">
    <form method="post">
        <fieldset>
            <legend>Log-In</legend>
            <input type="text" placeholder="Username" asp-for="Input.Username" required>
            <span asp-validation-for="Input.Username" class="text-danger"></span>
            <input type="password" placeholder="Password" asp-for="Input.Password" required>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
            <button type="submit">Log-In</button>
            <div class="register-info">
                <h4>You don't have an account?</h4>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>
            </div>
        </fieldset>
    </form>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}
