@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>


@section Styles{
    <link href="~/css/loginStyle.css" rel="stylesheet">
}

<div class="form-cover-register">
    <form method="post">
        <fieldset>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <legend>Register</legend>
            <input type="text" placeholder="Username" asp-for="Input.UserName">
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
            <input type="text" placeholder="Full Name" asp-for="Input.FullName">
            <span asp-validation-for="Input.FullName" class="text-danger"></span>
            <input type="email" placeholder="Email" asp-for="Input.Email">
            <span asp-validation-for="Input.Email" class="text-danger"></span>
            <input type="password" placeholder="Password" asp-for="Input.Password">
            <span asp-validation-for="Input.Password" class="text-danger"></span>
            <input type="password" placeholder="Repeat Password" asp-for="Input.ConfirmPassword">
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            <button type="submit">Register</button>
            <div class="login-info">
                <h4>You have an account?</h4>
                <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Log-In</a>
            </div>
        </fieldset>
    </form>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}
