@{
    ViewData["Title"] = "TorrentBG || Contact";
}

@model ContactFormModel
 <!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Contact</h2>
            <p>If you find any bug or want to join our team, just contact us!</p>
        </div>

        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d46963.47494734226!2d23.349619313349795!3d42.635555517205695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa86950f5183ab%3A0xeb4deb83d04043b2!2z0JzQu9Cw0LTQvtGB0YIsINCh0L7RhNC40Y8!5e0!3m2!1sbg!2sbg!4v1629232797381!5m2!1sbg!2sbg" width="100%" height="270" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>

        <div class="row mt-5">

            <div class="col-lg-4">
                <div class="info">

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>torrentbginfo@@gmail.com</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p>+1 5589 55488 55s</p>
                    </div>

                </div>

            </div>

            <div class="col-lg-8 mt-5 mt-lg-0">

                <form method="post" role="form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" asp-for="Name" class="form-control" id="name" placeholder="Your Name" required>
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="email" class="form-control" asp-for="Email" id="email" placeholder="Your Email" required>
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" asp-for="Subject" id="subject" placeholder="Subject" required>
                        <span class="text-danger" asp-validation-for="Subject"></span>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" asp-for="Message" rows="5" placeholder="Message" required></textarea>
                        <span class="text-danger" asp-validation-for="Message"></span>
                    </div>

                    <!-- NOTIFICATION-->
                    <div class="my-3" style="display:none">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit" class="btn-primary">Send Message</button></div>
                </form>




            </div>

        </div>

    </div>
</section><!-- End Contact Section -->
  </main><!-- End #main -->

@section Scripts{
    <script src="./js/toast.js"></script>

    <script>
    if (@ViewBag.msg == "Success") {

        Toast.show("Message is sent", "success");
    }
    else {
        Toast.show("Message is not sent.Try again!", "error");
    }
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

}

@section Styles{

    <link rel="stylesheet" href="~/css/toastAlert.css">
}