@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger" style="margin-top:100px">Error. </h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}


<h3>
    Our Development team is notified.
</h3>
<p>
    <strong>Please contact torrentbginfo@gmail.com</strong>
</p>
