@{
    ViewData["Title"] = " TorrentBG || Catalogs";
}

@section Styles{ <link rel="stylesheet" href="~/css/catalogStyle.css">}

<section>
    <div class="section-title">
        <h1>Catalogs</h1>
    </div>
    <div class="wrapper">

        <div class="catalog-box">
            <div class="catalog-title"><h2>Action</h2></div>
            <img src="~/img/movies/Johny English Strikes Again.jpg" class="left">
            <img src="~/img/movies/FasterMovie.jpg" class="right">
        </div>
        <div class="catalog-box">
            <div class="catalog-title"><h2>Series</h2></div>
            <img src="~/img/movies/Johny English Strikes Again.jpg" class="left">
            <img src="~/img/movies/FasterMovie.jpg" class="right">
        </div>
        <div class="catalog-box">
            <div class="catalog-title"><h2>Games</h2></div>
            <img src="~/img/movies/Johny English Strikes Again.jpg" class="left">
            <img src="~/img/movies/FasterMovie.jpg" class="right">
        </div>

        
    </div>
</section>
